:root{
    --font: 'Droid', sans-serif;
    --size-sm: 1.25rem;
    --size-m: 2.5rem;
    --size-lg: 6.25rem;
    --font-weight-s: 200;
    --font-weight-m: 300;
    --font-weight-lg: 400;
    --font-weight-xl: 700;  
    --color-primary-green:#015249;
    --color-primary-gray:#919191;
    --color-primary-white: #ffffff;
    --color-secondary-green: #57bc90;
    --color-secondary-skyblue: #77c9d4;
}
/* GENERALES */
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Oswald', sans-serif;
    background-color: rgb(255, 255, 247);
    color: var(--color-primary-gray);
    overflow-x: hidden;
    padding: 0 20px;
    width: 100%;
}
main{
    position: relative;
    display: grid;
    grid-template-rows: 0.2fr 1fr 0.8fr 1fr 0.8fr;
    align-items: start;
    margin: 0 auto;
}
.section-about, .section-skills-tools, .section-works, .section-contact{
    margin-top: 40px;
    padding-top: 40px;
}
.section-title-container {
    line-height: 3.5rem;
}
.section--title-lg {
    color: var(--color-primary-green);
    font-size: 3.5rem;
    font-family: var(--font);
    letter-spacing: -0.05rem;
    text-align: center;
    margin-bottom: 30px;
}
.section--title-sm{
    display: none;
    text-align: end;
    color: var(--color-secondary-skyblue);
}
/* HEADER */
.header{
    width: 100%;
    position: relative;
    z-index: 1;
}
.header-nav{
    display: flex;
    align-items: center;
    padding: 1rem 2.5rem 0 1rem ;
}
.header-nav .fa-solid{
    display: block;
    font-size: 1.6rem;
    color: var(--color-primary-red);
}
.header-nav a{
    display: none;
    color: #0000;
    text-decoration: none;
    font-size: 1rem;
    
    /* HOVER */
    line-height: 1.2em;
    color: transparent;
    text-shadow: 
        0 0 black,
        0 1.2em var(--color-primary-green);
    overflow: hidden;
    transition: 0.3s;
}
.header-nav a:hover{
    text-shadow: 
        0 -1.2em black,
        0 0 var(--color-primary-green);

}
.menu-toggle{
    display: none;
}
.menu-toggle.open{
    width: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary-white);
    border: 1px solid var(--color-secondary-green);
    border-radius: 5px;
    margin-top: 10px;
}
.menu-toggle.open a{
    color: var(--color-primary-green);
    text-decoration: none;
    font-size: 1rem;
    margin: 8px;
}
/* S. WELCOME */
.section-welcome{
    margin-bottom: 40px;
}
.section-welcome--title span {
    font-size: 23vw;
    color: var(--color-primary-green);
}
.section-welcome--title span:hover{
    color: var(--color-secondary-green);
}
/* S. ABOUT */
.section-about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-about--text {
    font-size: 1rem;
    text-align: center;
    width: 80%;
    margin: 1rem auto 2rem;
}
.section-about .section-title-container .section--title-lg {
    transition: all 1s ease;
}
.section-about .section-title-container .section--title-lg:hover{
    color: var(--color-primary-green);
    font-size: 5.5rem;
    line-height: 1.5rem;
    transform: scale(1);
}
.section-about--images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70%;
    justify-content: center;
    margin: 0 auto;
}
.images-container img{
    position: relative;
    border-radius: var(--size-sm);
    border: 2px solid rgba(128, 128, 128, 0.322);
    box-shadow: -25px 32px 75px -33px rgb(202, 202, 202);
    transition: 1s;
}
.images-container .image-3{
    width: 25vw;
    top: 10px;
    transform: rotate(-8deg);
}
.images-container .image-2{
    width: 25vw; 
    transform: rotate(-1deg); 
}
.images-container .image-1{
    width: 25vw;
    top: 10px;
    transform: rotate(8deg);
}
.images-container .image-3:hover{
    animation: cards 1s forwards;
    z-index: 1;
    transform: rotate(-8deg);
}
.images-container .image-2:hover{
    animation: cards 1s forwards;
    z-index: 1;
    transform: rotate(0deg);
}
.images-container .image-1:hover{
    animation: cards 1s forwards;
    z-index: 1;
    transform: rotate(9deg);
}
@keyframes cards {
    to{
        z-index: 2s ease-in-out;
    }
}
/* S. SKILLS AND TOOLS */
.section-skills-tools--icons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 6px;
    text-align: center;
    padding-top: 5rem;
}
.section-skills-tools--icons-container .fa-brands {
    font-size: 3rem;
    color: var(--color-secondary-green);
    transition: all 1s ease;
}
.section-skills-tools--icons-container .fa-brands:hover{
    color: var(--color-primary-green);
    font-size: 4rem;
    transform: scale(1);
}
/* S WORKS */
.section-works{
    font-size: 19vw;
}
.section-works--articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.section-works--article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7.5rem;
    height: 7.5rem;
    background: linear-gradient(298deg, rgba(1,82,73,1) 36%, rgba(1,82,73,0.47942927170868344) 69%, rgba(255,255,255,0) 94%);
    color: aliceblue;
    border-radius: 50%;
    margin: 0.5rem auto;
}
.section-works--article {
    text-decoration: none;
}
.section-works--article h3{
    font-size: 2rem;
    font-family: var(--font);
    width: 60%;
    border-bottom: 1px solid aliceblue;
}
.section-works--article p{
    display: none;
}
/* S. CONTACT */
.section-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-contact h2 {
    color: var(--color-primary-green);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
}
.button-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-primary-green);
    color: var(--color-primary-gray);
    border-radius: 40px;
    width: 12.5rem;
    height: 3.12rem;
    margin-bottom: 3rem;
    font-size: 1rem;
    background-color: transparent;
    text-decoration: none;
}
.button-contact:hover{
    box-shadow: -20px 22px 81px -17px var(--color-secondary-skyblue);
}
.section-contact--rrss {
    display: flex;
    justify-content: space-between;
}
.section-contact--rrss-container {
    justify-content: space-between;
    justify-content: center;
    padding: 0.62rem;
    border-top: 1px solid var(--color-primary-gray);
    color: var(--color-primary-gray);
    text-decoration: none;
}
.section-contact--rrss-container div:first-child {
    display: none;
}
.section-contact--rrss-container h3 {
    font-size: var(--size-sm);
    padding-bottom: 0.31rem;
    text-decoration: none;
    color: var(--color-primary-green);
}
.section-contact--rrss-container p {
    font-size: 0.87rem;
    color: #3d3d3db4;
}
.section-contact--rrss-container .fa-brands {
    font-size: 1.87rem;
}
.section-contact--rrss-container:hover .fa-brands {
    color: var(--color-primary-green);
}
/* TABLET */
@media (min-width:425px) {
    main{
        grid-template-rows: 0.2fr 1.5fr 1fr 1fr 1fr;
    }
    .section--title-lg {
        font-size: 4rem;
    }   
    .section-skills-tools--icons-container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
    }
    .section-works--articles {
        flex-direction: row;
    }  
    .section-contact h2{
        width: 80%;
    }
    .section-contact--rrss{
        width: 80%;
    }
    .section-contact--rrss-container {
        display: flex;
        width: 80%;
    }
    .section-contact--rrss-container div:first-child {
        display: block;
        margin-right: 30px;
    }
}
/* LAPTOP */
@media (min-width:768px) {
    main{
        grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
        align-items: start;
    }
    .header-nav{
        justify-content: space-between;
    }
    .header-nav a{
        display: block;
    }
    .header-nav a:hover{
        font-size: 1rem;
        transform: scale(1);
    }
    .header-nav .fa-solid{
        display: none;
    }
    .section-title-container {
        line-height: 0.7rem;
        text-align: end;
        width: fit-content;
        margin-bottom: 50px;
    }
    .section--title-lg{
        font-size: 5rem; 
        text-align: end;
    }
    .section--title-sm{
        display: block;
        font-size: 1rem;
    }
    .section-welcome--title span {
        font-size: 21.5vw;
    }
    .section-about{
        flex-direction: row;
    }
    .container-text{
        margin-right: 10px;
        width: 100%;
    }
    .section-about--text{
        text-align: start;
        margin: 0;
        width: 100%;
        font-size: 28px;
        color: #3d3d3d;
    }
    .section-about--images {
        display: block;
    }
    .images-container{
        position: relative;
    }
    .images-container img{
        position: absolute;
    }
    .images-container:nth-child(1) img {
        left: 28px;
    }
    .images-container:nth-child(2) img {
        left: 70px;
    }
    .images-container:nth-child(3) img {
        left: 95px;
    }
    .section-skills-tools--icons-container .fa-brands {
        font-size: 3.5rem;
    }
    .section-works--articles{
        /* display: grid; */
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        width: 70%;
        /* gap: 20px; */
    }
    .section-works--article{
        margin: 0 auto;
        width: 80%;
        height: 18.75rem;
        padding: 1.87rem;
        object-fit: cover;
        border-radius: 10px;
        background: linear-gradient(298deg, rgba(1,82,73,1) 36%, rgba(1,82,73,0.47942927170868344) 69%, rgba(255,255,255,0) 94%);
        transition: background-position 2s ease;
    }
    .section-works--article:hover{
        color: transparent;
        outline: 2px solid var(--color-primary-green);
        background-position: 2% 2%;
    }
    .section-works--articles .section-works--article:nth-child(1):hover{
        background: linear-gradient(298deg, #015249 4%, #0152497a 24%, #ffffff00 49%), url('../multimedia/taskplanner.png'), no-repeat; 
    }
    .section-works--articles .section-works--article:nth-child(2):hover{
        background: linear-gradient(298deg, #015249 4%, #0152497a 24%, #ffffff00 49%), url('../multimedia/portfolio.png'), no-repeat; 
    }
    .section-works--articles .section-works--article:nth-child(3):hover{
        background: linear-gradient(298deg, #015249 4%, #0152497a 24%, #ffffff00 49%), url('../multimedia/virtushop.png'), no-repeat; 
    }
    .section-works--articles .section-works--article:nth-child(4):hover{
        background: linear-gradient(298deg, #015249 4%, #0152497a 24%, #ffffff00 49%), url('../multimedia/code4people.png'), no-repeat; 
    }
    .section-works--article:hover h3{
        border-bottom: none;
    }
    .section-works--article p{
        display: block;
        font-size: 1rem;
        display: block;
        padding-top: 5px;
        width: 63%;
    }
    .section-contact{
        height: 100%;
        justify-content: space-between;
    }
    .section-contact h2{
        width: 50%;
        margin-bottom: 50px;
    }
    .section-contact a{
        margin-bottom: 50px;
    }
}
@media (min-width:1024px) {
    .section-about--text{
        width: 95%;
        font-size: 32px;
    }
}

/* UP SCROLL */
.up-scroll{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 20;
    background-color: var(--color-primary-green);
    border-radius: 50%;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
}
.up-scroll .fa-solid{
    color: var(--color-primary-white);
}
.up-scroll:hover {
    background-color: var(--color-secondary-green);
}
.up-scroll:hover .fa-solid{
    color: var(--color-primary-green);
}