/* :root{
    --font: 'Droid', sans-serif;
    --size-sm: 1.25rem;
    --size-m: 2.5rem;
    --size-lg: 6.25rem;
    --font-weight-s: 200;
    --font-weight-m: 300;
    --font-weight-lg: 400;
    --font-weight-xl: 700;  
    --color-primary-gray:#3d3d3d;
    --color-primary-red-100:#611616;
} */
/* GENERALES */
/* body{
    font-family: 'Oswald', sans-serif;
    background-color: rgb(255, 255, 247);
    color: var(--color-primary-gray);
} */
/* .section-title-container{
    width: fit-content;
    text-align: end;
    line-height: var(--size-m);
    padding-bottom: var(--size-sm);
    padding-left: var(--size-m);
} */
/* .section--title-lg{
    font-size: 5rem; 
    font-family: var(--font);
    letter-spacing: -0.05rem;
} */
/* .section--title-sm{
    font-size: 1rem;
} */
/* HEADER */
/* .header{
    width: 100%;
    position: relative;
    z-index: 1;
}
.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--size-sm) var(--size-m);
}
.header-nav a{
    color: rgb(48, 48, 48);
    text-decoration: none;
    font-size: 0.87rem;
    font-weight: var(--font-weight-lg);
    transition: all 1s ease;
}
.header-nav a:hover{
    font-size: 1rem;
    transform: scale(1);
}
.header-nav .fa-solid{
    display: none;
} */
/* MAIN */
/* SECCION WELCOME */
/* .section-welcome{
    position: relative;
    padding-bottom: 3.12rem;
} */
/* .section-welcome--title{
    max-width: 90vw;
    margin: 0 auto;
} */
/* .section-welcome--title h1{
    text-align: justify;
    font-size: 21vw;
    color: #4b0000;
} */
/* .section-welcome--title h1:hover{
    color: #770000;
}
.section-welcome .section-welcome-name{
    display: none;
    position: absolute;
    bottom: var(--size-lg);
    right: var(--size-m);
    width: 7.5rem;
    text-align: right;
    font-size: 2.18rem;
    color: var(--color-primary-gray);
} */
/* SECCION ABOUT */
/* .section-about{
    display: flex;
    margin: 10rem 0 var(--size-lg);
    justify-content: space-between;
}
.section-about--text{
    font-size: 1.5rem;
    width: 74%;
    padding-left: var(--size-m);
} */
.section-about .section-title-container .section--title-lg {
    transition: all 1s ease;
}
.section-about .section-title-container .section--title-lg:hover{
    color: var(--color-primary-red);
    font-size: 5.62rem;
    line-height: 3rem;
    transform: scale(1);
}
    /* FOTOS */
/* .section-about--images{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: var(--size-m);
} */
/* .images-container{
    position: relative;
    width: 25rem;
    right: var(--size-m);
}
.images-container img{
    position: absolute;
    border-radius: var(--size-sm);
    border: 2px solid rgba(128, 128, 128, 0.322);
    box-shadow: -25px 32px 75px -33px rgb(202, 202, 202);
    transition: 1s;
}
.images-container:nth-child(1) img{
    width: 80%;
    right: 12.5rem;
    transform: rotate(-10deg);
}
.images-container:nth-child(2) img{
    width: 80%;
    right: var(--size-lg);
    transform: rotate(-1deg);

}
.images-container:nth-child(3) img{
    width: 90%;
    right: 0.62rem;
    transform: rotate(8deg);

} */
/* HOVER FOTOS */
/* .images-container img:hover{
    animation: cards 1s forwards;
    z-index: 1;
    transform: rotate(-8deg);
}
.images-container:nth-child(2) img:hover{
    transform: rotate(0deg);
}
.images-container:nth-child(3) img:hover{
    transform: rotate(9deg);
}
@keyframes cards {
    to{
        z-index: 2s ease-in-out;
    }
} */
/* SECTION SKILLS & TOOLS */
/* .section-skills-tools{
    padding: 12.5rem 0 var(--size-lg) 0;
}
.section-skills-tools--icons-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    padding: 12.5rem 0 var(--size-lg);
    width: 80%;
    margin: 0 auto;
}
.section-skills-tools--icons-container .fa-brands{
    font-size: 3.43rem;
    color: var(--color-primary-gray);
    transition: all 1s ease;
} */
.section-skills-tools--icons-container .fa-brands:hover{
    color: var(--color-primary-red);
    font-size: 4.37rem;
    transform: scale(1);
}
/* SECTION WORKS */
.section-works{
    padding: var(--size-lg) 0;
}
.section-works--articles{
    display: flex;
    justify-content: space-between;
    padding: 1.87rem 0 0 0;
    margin: 0 auto;
    width: 85%;
}
.section-works--article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: 18.75rem;
    padding: 1.87rem;
    color: aliceblue;
    background: linear-gradient(#4b0000b2,#4b0000b2), url('../captura-ej.png'), no-repeat;
    object-fit: cover;
    border-radius: 10px;
}
.section-works--article:hover{
    background: linear-gradient(#4b000000,#4b000000), url('../captura-ej.png'), no-repeat;
    color: transparent;
    outline: 2px solid var(--color-primary-red);
}
.section-works--article h3{
    font-family: var(--font);
    font-size: var(--size-m);
    width: 60%;
    padding-bottom: var(--size-sm);
    border-bottom: 1px solid aliceblue;
}
/* SECTION CONTACT */
.section-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: var(--size-m) 0 1.5rem 0;
}
.section-contact h2{
    text-align: center;
    font-size: 3.75rem;
    width: 90%;
    margin-bottom: var(--size-lg);
}
.button-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-primary-gray);
    color: var(--color-primary-gray);
    border-radius: 40px;
    width: 18.75rem;
    height: 4.37rem;
    font-size: 1rem;
    background-color: transparent;
    margin-bottom: var(--size-lg);
    text-decoration: none;
}
.button-contact:hover{
    box-shadow: -20px 22px 81px -17px rgb(97 22 22 / 58%);
}
.button-contact:focus{
    background-color:  var(--color-primary-red);
    color: white;
}
.section-contact--rrss{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.section-contact--rrss-container{
    display: flex;
    width: 15.62rem;
    justify-content: space-between;
    padding: 0.62rem;
    border-top: 1px solid var(--color-primary-gray);
    color: var(--color-primary-gray);
    text-decoration: none;
}
.section-contact--rrss-container h3{
    font-size: var(--size-sm);
    padding-bottom: 0.31rem;
    text-decoration: none;
    color: var(--color-primary-gray);
}
.section-contact--rrss-container p{
    font-size: 0.87rem;
    color: #3d3d3db4;
}
.section-contact--rrss-container .fa-brands{
    font-size: 1.87rem;
}
.section-contact--rrss-container:hover{
    color: var(--color-primary-red);
}
@media only screen and (min-width:768px) and (max-width:1000px){
    /* .section-about--images {
        margin: 3.75rem 0 0 var(--size-m);
    }
    .images-container:nth-child(1) img, .images-container:nth-child(2) img{
        top:4.37rem;
        width: 50%;
    }
    .images-container:nth-child(3) img{
        top:5rem;
        width: 60%;
    } */
}
@media only screen and (min-width:100px) and (max-width:768px){
    /* TITULOS DE SECCIONES */
    /* .section-title-container{
        width: 100vw;
        text-align: center;
        line-height: 3rem;
        padding: 0;
    } */
    /* .section-welcome--title{
        padding-top: 3.75rem;
    } */
    /* SECCION ABOUT */
    /* .section-about{
        padding: var(--size-lg) 0;
        flex-direction: column;
    }
    .section-about--text {
        text-align: center;
        width: 80%;
        margin: var(--size-sm) auto;
        padding: 0;
    } */
    /* .section-about--images{
        flex-direction: row;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
    }
    .images-container{
        right: 0;
    }
    .images-container:nth-child(1) img, .images-container:nth-child(2) img, .images-container:nth-child(3) img{
        position: relative;
        right: 0;
        top: 0;
    }
    .images-container:nth-child(1) img{
        top: var(--size-sm);
        width: 90%;
    }
    .images-container:nth-child(2) img{
        z-index: 2;  
        width: 90%;  
    }
    .images-container:nth-child(3) img{
        top: var(--size-sm);
        width:100%;
    } */
    /* SECCION HABILIDADES */
    /* .section-skills-tools{
        padding: 7.5rem 0 var(--size-lg) 0;
    } */
    /* SECCION WORKS */
    .section-works{
        font-size: 19vw;
        padding: 9.37rem 0;
    }
    /* ARTICLES CONVERTIDOS A CIRCULOS */
    .section-works--article{
        align-items: center;
        width: 7.5rem;
        height: 7.5rem;
        background: #4b0000b2;
        border-radius: 50%;

    }
    .section-works--article h3{
        font-size: var(--size-m);
    }
    .section-works--article p{
        display: none;
    }
    .section-works--article:hover{
        background: #630f0f;
        color: white;
    }
    /* SECCION CONTACT */
    .section-contact{
        padding: var(--size-m)  0 1.5rem 0;
    }
    .section-contact h2 {
        width: 60%;
    } 
    .section-contact--rrss {
        width: 85%;
    }
}
@media only screen and (min-width:100px) and (max-width:610px){
    /* .section-welcome--title {
        max-width: 79vw;
    }    
    .section-welcome--title h1{
        font-size: 19vw;
    } */
    /* .section-title-container {
        line-height: var(--size-m);
        width: 78vw;
        margin: 0 auto;
    }
    .section--title-lg {
        font-size: 4.37rem;
    } */
    /* .section--title-sm{
        display: none;
    } */
    /* .section-about {
        padding: var(--size-sm) 0 3.75rem;
        margin: 0;
    }
    .section-about--text {
        font-size: 1rem;
    }
    .section-about .section-title-container{
        padding-bottom: 1.87rem;
    } */
    /* .section-skills-tools{
        padding-top: var(--size-sm);
    }
    .section-skills-tools .section-title-container{
        padding-top: 1.87;
    } */
    /* .section-skills-tools--icons-container{
        padding: 5rem 0;
    } */
    /* .section-skills-tools--icons-container .fa-brands {
        font-size: var(--size-m);
    } */
    .section-works {
        padding: var(--size-sm) 0;
    }
    .section-works--articles {
        width: 90%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .section-works--article{
        width: 5.62rem;
        height: 5.62rem;
        margin: 0.62rem 0;
    }
    .section-contact {
        padding-top: 3.12rem;
    }
    .section-contact h2 {
        width: 70%;
        margin-bottom: 5rem;
        font-size: 3.12rem;
    }
    .section-contact--rrss {
        width: 95%;
    }
}
@media only screen and (min-width:100px) and (max-width:425px) {
    /* .header-nav{
        padding: 0.62rem;
    }
    .header-nav a{
        display: none;
    }
    .header-nav .fa-solid{
        display: block;
        font-size: 1.87rem;
        color: var(--color-primary-red);
    } */
    /* .section-welcome--title {
        padding: 0 0.21rem;
        margin: 0;
        width: 90vw;
    }
    .section-welcome--title h1 {
        font-size: 23vw;
    } */
    /* .section--title-lg {
        font-size: 3.75rem;
    } */
    .section-skills-tools {
        padding: var(--size-sm) 0;
    }
    /* .section-skills-tools--icons-container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-gap: 6px;
    } */
    .section-contact h2 {
        margin-bottom: 3.12rem;
        font-size: var(--size-m);
    }
    .button-contact{
        width: 12.5rem;
        height: 3.12rem;
        margin-bottom: 3rem;
    }
    .section-contact--rrss-container{
        justify-content: center;
        border: none;
    }
    .section-contact--rrss-container div:first-child{
        display: none;
    }   
}